<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lhx.study.repo_management.mappers.SysUserMapper">
    <select id="login" resultType="cn.lhx.study.repo_management.entities.Sys_user">
        select * from sys_user where username=#{username} and status=#{status} and password=#{password};
    </select>
</mapper>