<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" th:src="@{/scripts/jquery-1.7.2.min.js}"></script>
    <script th:inline="javascript">
        $(function (){
            let flag=[[${session.login_flag}]];
            if(flag==-1){
                alert("输入有误，请重试");
            }
        });
    </script>
</head>
<body>
  <form id="login-form" method="post" action="/login_handler">
      <div id="enter-username">
          <label>用户名：</label>
          <input type="text" name="username" placeholder="请输入用户名">
      </div>
      <div id="enter-password">
          <label>密码：</label>
          <input type="text" name="password" placeholder="请输入密码">
      </div>
      <div id="enter-status">
          <label>用户身份：</label>
          <div>
              <input type="radio" name="status" value="1" title="读用户" checked>读用户
              <input type="radio" name="status" value="0" title="写用户">写用户
          </div>
      </div>
      <input type="submit" value="登录">
  </form>

</body>
</html>